<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Librería | AK</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0A0808;">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/acceso}">Administrar</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/prestamo}">Préstamo</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    <div class="login-box">
      <img src="/img/logo2.jpg" class="avatar" alt="Avatar Image">
      <h1>Librería AK</h1>
      <div class= "cajas absolute">	
      	“He buscado el sosiego en todas partes, y sólo lo he encontrado sentado en un rincón apartado, con un libro en las manos". <br> Thomas De Kempis
      </div>
      <div class= "cajas absolute1">	
      	<a th:href="@{/acceso}">Administrar librería</a>
      </div>
       <div class= "cajas absolute2">	
      	<a th:href="@{/prestamo}">Nuevo prestamo</a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  </body>
</html>