<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <title>Librería | AK</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  </head>
  <body>
	  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#0A0808;">
	  <div class="container-fluid">
	    <div class="collapse navbar-collapse" id="navbarNav">
	      <ul class="navbar-nav">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/acceso}">Administrar</a>
	        </li>
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/prestamo}">Préstamo</a>
	        </li>
	      </ul>
	    </div>
	  </div>
	</nav>
    	<div th:if="${error}" class="alert alert-warning alert-dismissible fade show" role="alert">
		  <strong th:text="'Accion inválida: '+${error}"></strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div th:if="${ok}" class="alert alert-success alert-dismissible fade show" role="alert">
		  <strong>Cliente modificado con éxito!</strong>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>   
		<br>
	  	<form class="row g-3" method="POST" th:action="@{/libro/editar_eliminar-libro}">
	  		<div class="col-auto">
			    <input type="number" class="form-control" name="isbn" placeholder="Ingrese el isbn del libro a buscar">
			</div>
			<div class="col-auto">
			    <button type="submit" class="btn btn-primary mb-3">Buscar</button>
			</div>	
	  	</form>
		  	<table class="table" style="background-color:#0A0808; color: whitesmoke;">
	      	<thead>
	      		<tr>
	      			<th>Documento</th>
	      			<th>Nombre</th>
	      			<th>Apellido</th>
	      			<th>Dirección</th>
	      			<th>Teléfono</th>
	      			<th colspan="2">Acciones de editar</th>
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<tr th:each="c : ${clientes}">
	      			<td th:text="${c.documento}"></td>
	      			<td th:text="${c.nombre}"></td>
	      			<td th:text="${c.apellido}"></td>
	      			<td th:text="${c.domicilio}"></td>
	      			<td th:text="${c.telefono}"></td>
	      			<td> <a th:href="@{/cliente/borrar-cliente}+'?documento='+${c.documento}"> <button type="button" class="btn btn-light">Eliminar</button></a></td>
			      	<td> <a th:href="@{/cliente/modificar-cliente}+'?documento='+${c.documento}"> <button type="button" class="btn btn-light">Modificar</button></a></td>
	      		</tr>
	      	</tbody>
	      </table>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
  </body>
</html>